body {
    margin: 0;
    font-family: "Arial", "sans-serif";
}

main {
    margin: 25px;
}

header {
    text-align: center;
    margin: 0;
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
    box-shadow: 0 1px 5px 0 rgba(95,95,95,10);
    position: fixed;
    background-color: white;
    z-index: 5;
    top: 0;
    width: 100%;
}

header p {
    font-size: 36px;
    font-weight: 900;
}

.admin-home-link {
    color: black;
    text-decoration: none;
}

.admin-home-link:hover {
    color: #323232;
}

.sidenav {
    margin-top: 120px;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid #bcbcbc;
}

.sidenav a {
    /*padding: 6px 8px 6px 16px;*/
    margin-bottom: 15px;
    margin-left: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
    display: block;
    border-left: 18px solid black;
}

.sidenav a:hover {
    color: #86c4e0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.content {
    margin-top: 110px;
    margin-left: 160px;
    height: 100%;
    width: 400px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.content ul {
    list-style: none;
}

.content li {
    margin-bottom: 15px;
}

.list-link {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    border-left: 18px solid black;
}

.content ul h3{
    font-size: 25px;
}

.list-link:hover {
    color: #86c4e0;
}

.edit-link {
    border: none;
}

.back-link {
    color: black;
    text-decoration: none;
}

.back-link:hover{
    color: #86c4e0;
}

.delete-instance {
    color: indianred;
}
