{% extends "admin/index.html" %}
{% set title="Пользователи - панель администратора"%}
{% block content %}
<ul>
    <a class="back-link" href="{{url('admin_users')}}"> < Назад</a>
    {% if user %}
    <h3>{{user.user_email}}</h3>
    <p>Имя: {{user.user_name}}</p>
    <p>Фамилия: {{user.user_surname}}</p>
    <p>Телефон: {{user.user_phone}}</p>
    <p>Админ: {{user.user_is_admin}}</p>
    <a class="edit-link" href="{{url('admin_user_edit', id=user.user_id)}}">
        <button class="admin-button">Редактировать</button>
    </a>
    <a class="edit-link" href="{{url('admin_user_delete', id=user.user_id)}}">
        <button class="admin-button warning-button">Удалить</button>
    </a>
    {% endif %}
</ul>
{% endblock%}