{% extends "admin/index.html" %}
{% set title="Пользователи - панель администратора"%}
{% block content %}
<ul>
    <a class="back-link" href="{{url('admin_users')}}"> < Назад</a>
    <h3>Редактировать</h3>
    <div class="edit-form">
    <form method="post">
        <label for="email">Почта: </label>
        <input id="email" name="email" type="text">

        <label for="name">Имя: </label>
        <input id="name" name="name" type="text">

        <label for="surname">Фамилия: </label>
        <input id="surname" name="surname" type="text">

        <label for="phone">Номер телефона:</label>
        <input id="phone" type="text" name="phone">

        <label for="password">Пароль: </label>
        <input id="password" name="password" type="password">

        <label for="is_admin">Права администратора: </label>
        <input id="is_admin" name="is_admin" type="checkbox">

        <input class="admin-button" type="submit" value="Сохранить">
    </form>
    </div>
</ul>
{% endblock%}