{% extends "admin/index.html" %}
{% set title = "Товары - панель администратора"%}
{% block content %}
<ul>
    <li><h3>Товары: </h3></li>
    <li>
        <a class="edit-link" href="{{url('admin_product_create')}}">
            <button class="admin-button">Создать</button>
        </a>
    </li>
    <li class="edit-form">
        <input class="search-input" type="text" placeholder="Поиск">
    </li>
    {% for product in products %}
    <li>
        <a class="list-link search-item" href="{{url('admin_product_details', id=product.product_id)}}"
           {% if product.product_moderating%}style="border-color:indianred"{%endif%}>
            {{product.product_name}}
        </a>
    </li>
    {% endfor %}
    <script type="text/javascript" src="/static/js/search.js"></script>
</ul>
{% endblock %}