{% extends "admin/index.html" %}
{% set title="Пользователи - панель администратора"%}
{% block content %}
<ul>
    <a class="back-link" href="{{url('admin_products')}}"> < Назад</a>
    <h3>Создать</h3>
    <div class="edit-form">
        <form method="post">
            <label for="name">Название: </label>
            <input id="name" name="name" type="text">
            <label for="description">Описание: </label>
            <input id="description" name="description" type="text">
            <label for="price">Цена: </label>
            <input id="price" name="price" type="text">
            <label for="img">URL изображения</label>
            <input id="img" name="img" type="url">
            <label for="on_sale">Выставить на продажу: </label>
            <input id="on_sale" name="on_sale" type="checkbox">
            <input class="admin-button" type="submit" value="Сохранить">
        </form>
    </div>
</ul>
{% endblock%}