{% extends "admin/index.html" %}
{% set title="Пользователи - панель администратора"%}
{% block content %}
<ul>
    <li>
        <h3>Пользователи: </h3>
    </li>
    <li>
        <a class="edit-link" href="{{url('admin_user_create')}}">
            <button class="admin-button">Создать</button>
        </a>
    </li>
    <li class="edit-form">
        <input class="search-input" type="text" placeholder="Поиск">
    </li>
    {% for user in users %}
    <li>
        <a class="list-link search-item" href="{{url('admin_user_details', id=user.user_id)}}"
           {% if user.user_is_admin %} style="border-color:lightskyblue" {%endif%}>
            {{user.user_email}}
        </a>
    </li>
    {% endfor %}
    <script type="text/javascript" src="/static/js/search.js"></script>
</ul>
{% endblock%}