{% extends "base.html"%}
{%block title%}Авторизация{%endblock%}
{% block body %}
<link rel="stylesheet" href="/static/auth.css">
<div class="login-page">
    <input hidden id="next_url" value="{{next_url}}">
    <div class="login-page edit-form">
        <h1>Авторизация</h1>
        <div class="login-error"></div>
        <center><input id="email-input" type="text" placeholder="Email"></center>
        <center><input id="password-input" type="password" placeholder="Password"></center>
        <button class="admin-button" id="login-button">Войти</button>
    </div>
</div>

<script type="text/javascript" src="/static/js/login.js">

</script>
{% endblock %}