{% extends "base.html"%}
{%block title%}Регистрация{%endblock%}
{% block body %}
<link rel="stylesheet" href="/static/auth.css">
<div class="login-page">
    <input hidden id="next_url" value="{{next_url}}">
    <div class="login-page">
        <h1>Регистрация</h1>
        <div class="login-error"></div>
            <div class="edit-form">
            <form method="post">
                <input id="user_email" name="user_email" type="email" placeholder="Почта">
                <input id="user_name" name="user_name" type="text" placeholder="Имя">
                <input id="user_surname" name="user_surname" type="text" placeholder="Фамилия">
                <input id="user_phone" type="text" name="user_phone" placeholder="Номер телефона">
                <input id="user_password" name="user_password" type="password" placeholder="Пароль">
                <input id="user_password_repeat" name="user_password_repeat" type="password" placeholder="Подтвердите пароль">

                <input id="submit-button" class="admin-button" type="submit" value="Создать аккаунт">
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/register.js"></script>
{% endblock %}